*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html {
    scroll-behavior: smooth;
  }
.nav-link{
    color:white;
    text-transform: uppercase;
    font-family: sans-serif;
}
.nav-link:hover{
    color:#ec5353;
}
.nav-link:focus{
    color:#ec5353;
}
.navbar{
 background:#222831 !important;
 color: white;


}
.navbar-toggler{
    background-color: #ec5353 !important;
}
.navbar-brand img{
    height:50px;
    width: auto;
    
}

.nav-item {
    padding-right: 50px;
}
span{
    color: #ec5353;
}
.main {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 110vh;
}
.main h1{
    font-size: 5rem;
    font-weight: 800;
}
.button1{
    height:55px;
    width:180px;
    color:white;
    outline:none;
    border:none;
    background-image: linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;      
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}      

  .button1:hover {
    background-position: right center; 
    color: #fff;
    text-decoration: none;
  }
 
  .card-title{ text-align: center;
    color:  #ec5353;
    font-size: 24px;
    margin-bottom: 20px;
}
a { 
    text-decoration:none !important;
    color: #ffffff;
   
}
/* scroll back to top button */

#myBtn {
    display: none;
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: solid; 
    outline: none; 
    background-color:#ec5353;
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px; 
  }
  
  #myBtn:hover {
    background-color: black; /* Add a dark-grey background on hover */
  }
/* Main Cards */
.MainCard{
    margin-top:-80px;
}
.MainCard h5 {
   font-size: 1.5rem;
   font-weight: 700;
}
.MainCard a{
    text-decoration: none;
    color:  #ec5353;
}
.back:hover { 
    color: white;
    cursor: pointer;

}
.back{
    position: relative;
    z-index: 1;
    overflow:hidden;
    transition:all 0.8s;
   
}
.back::before{
    content: "";
    position: absolute;
    height: 0px ; 
    width:100%;
    top: 0px;
    left: 0px;
    background: linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%); 
    z-index: -1;
    transition:all 0.8s;

}
.back:hover::before{
    height: 100%;
}
.back:hover a{
    color: white;
    cursor: pointer;

}
/* pricing section*/
.pricing {
    border:none;
    background-color: white;
    padding: 10px 50px;
    position: relative;
   
    overflow:hidden;
    transition:all 0.8s;
  }



  .pricing:hover {

    background: linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%); 
    transform: scale(1.02, 1.02);
    -webkit-transform: scale(1.02, 1.02);
    backface-visibility: hidden; 
    will-change: transform;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.75) !important;
    color: white;
    cursor: pointer;
  }

  .pricing:hover::after {
    height: 100%;
  }
  .pricing:hover div{
    
    color: white;
    cursor: pointer;

}
.pricing:hover h5{color: white;
    cursor: pointer;}




    /* about section */

    .about-section h2 {
        font-weight:750 ;
    }
    .about-section p{
        font-weight: lighter;


    }
    p { 
        font-size:1.1rem;
    }










    /* contact section */


.contact{
    background-image: url('../img/contact.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
margin-top: 50px;
    padding: 50px 0px;
}
.contact-form{
    background-color: white;
    margin-left: 10%;
    padding: 20px 20px;
    border-radius: 10px;
}

.contact-title { 
    color: #ec5353;
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 20px;
    
}
.contact-text { 
    color: #ec5353;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 20px;
}
.list-unstyled{color: #ec5353;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 20px; } 

/* footer */

.footer-nav-link{
    color:black;
    text-transform: uppercase;
    font-family: sans-serif;
    text-decoration: none;
}
.footer-nav-link:hover{
    color:#ec5353;
}
.footer-nav-link:focus{
    color:#ec5353;
}
.footer-navbar{
 background:#222831;
 color: white;

}
.custom-toggler .navbar-toggler {
    border-color:#ec5353;
}


/* bmi calculator */


h4 { 
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: #ec5353;
}
.bmi-category{
    font-size: 1rem;
    font-weight: bolder;
    margin-bottom: 20px;
    color:black;
}
.bmi-chart {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f5f5f5;
}

.bmi-chart h2 {
    text-align: center;
}

.bmi-table {
    width: 100%;
    border-collapse: collapse;
}

.bmi-table th, .bmi-table td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd;
}

.bmi-table th {
    background-color: #f2f2f2;
}

.bmi-table th:first-child, .bmi-table td:first-child {
    text-align: left;
}




/* coach */
.coach-card {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    cursor: pointer;
  }
  
  .coach-card img {
    max-width: 100%;
    border-radius: 5%;
  }
  
  .coach-card h4 {
    margin-top: 10px;
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
  }
  
  .coach-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }